body {
  text-align: center
}

div.cell {
  display: inline-block;
  width: 20px;
  height: 20px;
}

div.cell[value='1'] {
  background-color: black;
  color: white;
}

div.cell[value='0'] {
  background-color: white;
}
